extends layout

block content
  h1= title

  - if (toShow)
    - let clockid = toShow._id || 'N/A'
    - let clockname = toShow.name || 'N/A'
    - let clockprice = toShow.price || 'N/A'
    - let clockcolor = toShow.color || 'N/A'

    div.row(class='mb-2')
      div.col-2.mr-1 ID is
      div.col #{clockid}
      - let actionid = "/resource/clock/" + clockid
      form(id='clockForm', action= actionid, method="PUT")
        div.form-group
          label.clockAttr(for='name') Clock Name
          input#name.form-control(type='text', name='name', value= clockname )
        div.form-group
          label.clockAttr(for='price') Clock Price
          input#price.form-control(type='number', name='price', value= clockprice )
        div.form-group
          label.clockAttr(for='color') Clock Color
          input#color.form-control(type='text', name='color', value= clockcolor )
        button.btn.btn-primary(type="submit") Update Clock

    script.
      document.forms['clockForm'].addEventListener('submit', (event) => {
        event.preventDefault();
        // TODO do something here to show the user that the form is being submitted
        fetch(event.target.action, {
          method: 'PUT',
          body: new URLSearchParams(new FormData(event.target)) // event.target is the form
        }).then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        }).then((body) => {
          alert("Update succeeded");
          // TODO handle body
        }).catch((error) => {
          // TODO handle error
          alert("Update failed " + error );
        });
      });
  - else
    // Handle the case where toShow is null or undefined
    p Clock details not available.
