extends layout

block content
 h1= title

 form(id='clockForm', action="/resource/clock", method="POST")
  div.form-group
   label.clockAttr(for='name') clock Name
   input#name(type='text', name='name')
  div.form-group
   label.clockAttr(for='price') clock Price
   input#price(type='number', name='price')
  div.form-group
   label.clockAttr(for='color') clock Color
   input#color(type='text', name='color')
  input(type="submit")

 script.
  document.forms['clockForm'].addEventListener('submit', (event) => {
   event.preventDefault();
   // TODO do something here to show user that form is being submitted
   fetch(event.target.action, {
    method: 'POST',
    body: new URLSearchParams(new FormData(event.target)) // event.target is the form
    }).then((resp) => {
     return resp.json(); // or resp.text() or whatever the server sends
    }).then((body) => {
     alert("Save succeded")
     //TODO handle body
    }).catch((error) => {
     //TODO handle error
     alert("Save failed " + error )
    });
  });