extends layout

block content
  h1= title
  p Welcome to #{title}  , entertainer
  button(type="button", class="btn btn-secondary" onclick="goFaster()") Press Me
  br
  br
  br
  div#faster Increase the speed 
  a(href="/clock") view clock page


  script.
      mph = 20;
      change = 1;
      function goFaster(){
        mph += change;
        change += 1;
        document.getElementById("faster").innerHTML= "MPH" + mph + "change" + change;}

      